<h1>Stupid Coach</h1>
<p></p>

<div class="question">
<%= @question %>
<br>
-You
</div>
<div class="answer">
<%= @coach %>
<br>
-Coach
</div>
<div class="link">
<%= link_to 'ask another question', 'ask' %>
</div>
