<h1>Stupid Coach</h1>
<div class="ask">
  <p>ask me anything!</p>
  </div>
  <div class="form">
    <form action="/answer">
      <input type="text" name="question">

      <input type="submit" value="Ask!">
    </form>
  </div>
